@model IEnumerable<DL_CompetencyPMS.Model.DesignationInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesgID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesgID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DesgID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DesgID  }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DesgID  })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
